footer {
    margin-top: 100px;
    width: 100%;
}

.contacts {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 236px;
}

.list h6 {
    color: #1C1C1B;
    font-size: 24px;
    font-weight: 700;
}

.list a {
    font-size: 14px;
    color: #1C1C1B;
    font-weight: 600;
}

.list img {
    margin-right: 7px;
}

.list li:first-child {
    margin: 0;
}

.license {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.footer-line {
    margin-top: 20px;
    width: 1280px;
}

.license .text {
    margin: 20px 0;
}

.license .text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.license a:first-child {
    margin-right: 18px;
}